:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font: 400 16px 'Work Sans', sans-serif;
}

body {
  background: var(--lightPink) url('../../images/background-pattern-desktop.svg') center top no-repeat;
  
  @media (max-width: 400px) {
    background: var(--lightPink) url('../../images/background-pattern-mobile.svg') center top no-repeat;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
  
  @media (max-width: 400px) {
    min-height: 812px;
  }

  .container {
    background-color: var(--white);
    max-width: 600px;
    border-radius: 18px;
    margin: 24px;
    padding: 40px;
    padding-bottom: 17px;
    box-shadow: hsl(292, 16%, 49%, 0.2) 0px 10px 46px 0px;
  
    @media (max-width: 400px) {
      padding: 22px;
      padding-bottom: 6px;
      border-radius: 8px;
    }
  }
  
  .title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
  
    h1 {
      font-size: 56px;
      font-weight: 700;
    }
  }
  
  @media (max-width: 400px) {
    .title {
      margin-bottom: 26px;
  
      img {
        width: 26px;
      }
  
      h1 {
        font-size: 32px;
      }
    }
  }
  
  .accordionItem {

    &:not(:last-child) {
      border-bottom: 2px solid var(--lightPink);
    }
  
    .question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 22px 0 22px;
      cursor: pointer;
  
      h2 {
        font-size: 18px;
        font-weight: 600;
        color: var(--darkPurple);
        transition: 0.3s ease;
      }
  
      .image {
        background: url('../../images/icon-plus.svg') center no-repeat;
        min-width: 30px;
        min-height: 31px;
      }
  
      &.open {
  
        .image {
          background: url('../../images/icon-minus.svg') center no-repeat;
        }
      }
  
      &:hover {
  
        h2 {
          color: var(--grayishPurple);
        }
      }
  
      @media (max-width: 400px) {
        gap: 42px;
        margin: 19px 0 19px;
  
        h2 {
          font-size: 16px;
        }
      }
    }
  
    &:last-child {
  
      .question {
        padding-bottom: 0;
      }
  
      .answer {
        padding-top: 22px;
      }
    }
  
    .answer {
      max-height: 0;
      overflow: hidden;
      color: var(--grayishPurple);
      transition: max-height 0.3s ease;
  
      p {
        padding-bottom: 30px;
        line-height: 150%;
      }
  
      &.open {
        height: auto;
        max-height: 200px;
      }
  
      @media (max-width: 400px) {
        font-size: 89%;
  
        p {
          padding-top: 8px;
          padding-bottom: 18px;
        }
      }
    }
  }
}
